# Node.js
node_modules/
npm-debug.log
.env

# Python (for later)
__pycache__/
*.py[cod]
venv/
.venv/
.vscode/
# Terraform (for later)
.terraform/
*.tfstate
*.tfstate.backup

uploads

# OS files
.DS_Store

services/auth-service/README.md